#include <input/processors.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

//クリックした後250ミリ秒後にAMLを解除する。

&mkp_input_listener { input-processors = <&zip_temp_layer 5 250>; };

/ {
    combos {
        compatible = "zmk,combos";

        Combos00 {
            bindings = <&kp NON_US_BACKSLASH>;
            key-positions = <64 65>;
        };

        Combos01 {
            bindings = <&kp LEFT_PARENTHESIS>;
            key-positions = <18 19>;
        };

        Combos02 {
            bindings = <&kp RIGHT_PARENTHESIS>;
            key-positions = <19 20>;
        };

        Combos03 {
            bindings = <&kp LEFT_BRACKET>;
            key-positions = <32 33>;
        };

        Combos4 {
            bindings = <&kp RIGHT_BRACKET>;
            key-positions = <33 34>;
        };

        Combos05 {
            bindings = <&kp LEFT_BRACE>;
            key-positions = <46 47>;
        };

        Combos06 {
            bindings = <&kp RIGHT_BRACE>;
            key-positions = <47 48>;
        };

        test {
            bindings = <&kp A>;
            key-positions = <33 34 35 47 48>;
        };
    };

    macros {
        Macro00: new_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_PARENTHESIS &kp RIGHT_PARENTHESIS &kp LEFT>;
            label = "NEW_MACRO";
        };

        Macro01: kagikakko {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_BRACKET &kp RIGHT_BRACKET &kp LEFT>;
            label = "KAGIKAKKO";
        };

        Macro02: Macro02 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(S) &kp U &kp Z &kp U &kp R &kp A &kp N &kp AT &kp LS(K) &kp A &kp Z &kp U &kp M &kp A &kp N1 &kp N2 &kp N5 &kp N1>;
            label = "MACRO02";
        };

        Macro03: Macro03 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(K) &kp O &kp B &kp E &kp L &kp C &kp O &kp DOT &kp C &kp O &kp M>;
            label = "MACRO03";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        main {
            bindings = <
&none            &none     &none               &none  &none        &none                                        &none          &none  &none      &none    &none            &none
&kp ESC          &kp Q     &kp W               &kp E  &kp R        &kp T                                        &kp Y          &kp U  &kp I      &kp O    &Macro00         &none
&kp TAB          &kp A     &kp S               &kp D  &kp F        &kp G        &none            &none          &kp H          &kp J  &kp K      &kp L    &kp P            &kp MINUSd
&mt LSHFT LC(V)  &kp Z     &kp X               &kp C  &kp V        &kp B        &lt 4 ASTERISK   &lt 4 AT_SIGN  &kp N          &kp M  &kp COMMA  &kp DOT  &lt 6 SEMICOLON  &kp SQT
&mt LCTRL LC(C)  &kp LGUI  &mt LEFT_ALT LG(V)  &kp A  &lt 1 LANG2  &lt 2 LANG1  &mt LSHFT SPACE  &kp ENTER      &bs_lt 3 BSPC  &none  &none      &none    &kp SLASH        &kp EQUAL
            >;
        };

        number {
            bindings = <
&trans  &trans   &trans  &trans  &trans  &trans                     &trans      &trans        &trans        &trans        &trans          &trans
&trans  &kp F12  &kp F7  &kp F8  &kp F9  &trans                     &kp SLASH   &kp NUMBER_7  &kp NUMBER_8  &kp N9        &kp PERCENT     &trans
&trans  &kp F11  &kp F4  &kp F5  &kp F6  &trans  &trans  &trans     &kp COMMA   &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp MINUS       &trans
&trans  &kp F10  &kp F1  &kp F2  &kp F3  &trans  &trans  &kp MINUS  &kp PERIOD  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp UNDERSCORE  &trans
&trans  &trans   &trans  &trans  &trans  &trans  &trans  &kp N0     &kp DEL     &trans        &trans        &trans        &trans          &trans
            >;
        };

        shortcut {
            bindings = <
&trans           &trans     &trans    &trans          &trans     &trans                        &trans         &trans     &trans     &trans         &trans  &trans
&kp LA(LC(END))  &kp PG_DN  &trans    &kp UP_ARROW    &trans     &kp PG_UP                     &kp LS(LG(S))  &kp LG(E)  &kp LC(S)  &kp RS(RCTRL)  &trans  &trans
&trans           &kp HOME   &kp LEFT  &kp DOWN_ARROW  &kp RIGHT  &kp END    &trans  &trans     &kp LC(A)      &kp LC(Z)  &kp LC(Y)  &kp RSHIFT     &trans  &trans
&trans           &trans     &trans    &trans          &trans     &trans     &trans  &kp LG(V)  &kp LC(X)      &kp LC(F)  &kp LC(H)  &kp RCTRL      &trans  &trans
&trans           &trans     &trans    &trans          &trans     &trans     &trans  &kp LC(C)  &kp LC(V)      &trans     &trans     &trans         &trans  &trans
            >;
        };

        kigou {
            bindings = <
&trans  &trans  &trans           &trans                &trans                 &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &kp ASTERISK     &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &kp PERCENT      &kp CARET             &kp AMPERSAND          &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &kp EXCLAMATION  &kp AT_SIGN           &kp HASH               &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans           &trans                &trans                 &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        Bluetooth {
            bindings = <
&trans        &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&bt BT_SEL 0  &trans  &trans  &trans  &trans  &Macro02                  &trans  &trans  &trans  &trans  &trans  &bt BT_SEL 0
&bt BT_SEL 1  &trans  &trans  &trans  &trans  &Macro03  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &bt BT_SEL 1
&bt BT_SEL 2  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans  &bt BT_SEL 2
&trans        &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        mouse {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans    &trans    &trans         &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans    &trans    &trans         &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &mkp MB1  &mkp MB2  &kp LS(LG(S))  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &mkp MB4  &mkp MB5  &trans         &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans    &trans         &trans  &trans
            >;
        };

        scroll {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };
    };
};
